
<!-- Header -->
<header id="static-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br/>
                <i class="fa fa-shopping-bag hero-text-1"></i>
                <div class="intro-text">
                    <span class="hero-text-1">Giarclist</span>
                    <hr>
                    <span class="hero-text-2">Singapore's Best Online Marketplace for Buying and Selling Stuff and Services</span>
                </div>
            </div>
        </div>
    </div>
</header>
