/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";
@import "font-awesome";
@import "listings";

#main {
  max-width: 85%;
  margin: 0 auto;
}

.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
  position: absolute;
  bottom: -2px;
  right: 2px;
  max-width: 45%;
  text-align: right;
}

.new {
  @extend .btn;
  @extend .btn-success;

  &:before {
    font-family: "FontAwesome";
    @extend .fa-plus;
    padding-right: 0.5em;
  }
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child{
    margin-top: 20px;
  }
}

#static-header {
  text-align: center;
  color: #fff;
  background-color: #18bc9c;
}

#static-header{
  font-size: 2em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .hero-text-1 {
    font-size: 4.75em;
  }

  .hero-text-2 {
    font-size: 2.1em;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .hero-text-1 {
    font-size: 5.5em;
  }

  .hero-text-2 {
    font-size: 2.2em;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .hero-text-1 {
    font-size: 7em;
  }

  .hero-text-2 {
    font-size: 2.4em;
  }
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
